.milestones {
    padding: 60px 20px;
    background-color: #fff; /* White background */
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem; /* Big and bold title */
    font-weight: bold;
    color: #333; /* Black color */
    margin-bottom: 40px; /* Spacing below the title */
  }
  
  .milestonesContainer {
    padding: 0px 160px;
    display: flex;
    justify-content: center;
    gap: 24px; /* Spacing between rectangles */
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .milestone {
    flex: 1;
    max-width: 300px;
    padding: 30px;
    background-color: white; /* Light gray background for rectangles */
    border: solid 2px #D0D5DD;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .milestone:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .number {
    font-size: 3rem; /* Large number */
    font-weight: bold;
    color: #ff7f50; /* Orange color */
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 1.25rem; /* Smaller text */
    color: #333; /* Black color */
    font-weight: bolder;
  }